
.photo{
    width: 60%;
}

.container {
    margin-top: 20px;
    text-align: center;
    margin-bottom:50px;
}

.container-2{
    padding-top: 20px;
    display: block;
}

.description{
    padding-top: 25px;
    padding-left: 50px;
}